.contact{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.contact-title h1 {
    text-align: center;
    color: #ffb03b;
}
.contact-title p {
   
   
    text-align: center;
    margin-left: 30px;
}
.contact{
    max-width: 100%;
}
.container-bottom{
    border: 2px;
    border-radius: 1px;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
    min-height: 450px;
}

.info-wrap{
  margin-top: 30px;
}
.contact-title{
    margin-top: 20px;
}
.contact-title p{
    margin-top: 10px;
}
.map{
    background-size: cover;
}
.text-center button {

    background: #ffb03b;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    margin-top: 2%;
    font-family: "Poppins", sans-serif;
}

.form-group{
    padding-left: 2%;
    padding-right: 2%;
    
}
.info-wrap{
    margin-left: 5%;
    margin-right: 5%;
}

.iconr:hover{
    background-color: #ffb03b;
    size: 100px;
    transform: scale(1.5); 
    color: white;
}
.icons{
    display: flex;
    flex-direction: row;
}
.p1{
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #433f39;
}
.p2{
    margin-bottom: 0px;
    font-size: 14px;
    color: #7a7368;
    font-family: "Poppins", sans-serif;
}
.icon{
    width: 30%;
    /* height: 20px; */
    margin-right: 20px;
    margin-top: 10px;
}
.icon-content{
    width: 70%;
}
.iconr{
   
    /* 
    margin-top: 20px; */
    font-size: 20px;
    color: #ffb03b;
    float: left;
    width: 30px;
    height: 30px;
    background: #fff6e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-left: 50px;
}
.col-lg-3 .info{
  margin-top: 2%;
}